@(grower: Grower)

<style>
  .demo-list-icon {
    width: 300px;
  }
</style>

@display_offer(offer: Offer) = {
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/html/offers/@offer.getId()">
    @offer.getPricePerPound() -- @offer.getAlmondPoundsString() lbs
  </a>
}

@display_contact_list(contacts: List[String]) = {
  <ul class="mdl-list">
    @for(contact <- contacts) {
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">mail</i>
          @contact
        </span>
      </li>
    }
  </ul>
}

@display_offer_list(offers: List[Offer]) = {
  <ul class="demo-list-icon mdl-list">
    @for(offer <- offers) {
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">assignment</i>
          @display_offer(offer)
        </span>
      </li>
    }
  </ul>
}

@main(title = "View Grower") {

  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--6-col">

      <h3><b>Grower Details</b></h3>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <h5><b>Name</b></h5>

          <br />
          <h5><b>Emails</b></h5>

          <h5><b>Phone Numbers</b></h5>
        </div>

        <div class="mdl-cell mdl-cell--6-col">
          <h5>@grower.getFullName()</h5>
          @display_contact_list(grower.getEmailAddressStrings)
          <h5>Feature Under Construction</h5>
        </div>

      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">


      <h5><b>Accepted Offers</b></h5>
      @display_offer_list(grower.getAcceptedOffers())
      <hr />

      <h5><b>Rejected Offers</b></h5>
      @display_offer_list(grower.getRejectedOffers())
      <hr />

      <h5><b>Call Requested Growers</b></h5>
      @display_offer_list(grower.getCallRequestedOffers())
      <hr />

      <h5><b>No Response Growers</b></h5>
      @display_offer_list(grower.getNoResponseOffers())
      <hr />

      <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="">
        Send Offer to Growers
      </a>

    
    
    </div>
  </div>

}
