@(growers: List[Grower])

@display_title(grower: Grower) = {
  <h4>@grower.getFullName()</h4>
}

@display_responses(grower: Grower) = {
  <b>Accepted:</b> @grower.getAcceptedOffers().size()
  <b>Rejected:</b> @grower.getRejectedOffers().size()
  <b>Call:</b> @grower.getCallRequestedOffers().size()
  <br />
  <b>No Response:</b> @grower.getNoResponseOffers().size()
}

@main(title = "Growers List") {

  @if(growers.isEmpty) {
    <h2>You haven't added any Growers yet! Click add a grower in the top right to get started.</h2>
  } else {

    <div class="mdl-grid">

      @for(grower <- growers) {
        <div class="mdl-cell mdl-cell--3-col">
          <div class="mdl-card mdl-shadow--4dp">

            <div class="mdl-card__supporting-text">
              @display_title(grower)
            </div>

            <div class="mdl-card__supporting-text">
              @display_responses(grower)
            </div>

            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/html/growers/@grower.getId()">
                View Grower
              </a>
            </div>

          </div>
        </div>
      }

    </div>
  }
}
