@(offers: List[Offer])

@display_title(offer: Offer) = {
  <h4>@offer.getAlmondVariety()</h4>
  <h5>@offer.getAlmondPoundsString() lbs - @offer.getPricePerPound()</h5>
}

@display_responses(offer: Offer) = {
  <b>Accepted:</b> @offer.getAcceptedGrowers().size()
  <b>Rejected:</b> @offer.getRejectedGrowers().size()
  <b>Call:</b> @offer.getCallRequestedGrowers().size()
  <br />
  <b>No Response:</b> @offer.getNoResponseGrowers().size()
}

@main(title = "Offer List") {

  @if(offers.isEmpty) {
    <h2>You haven't created any offers yet! Click make an offer in the top right to get started.</h2>
  } else {

    <div class="mdl-grid">

      @for(offer <- offers) {
        <div class="mdl-cell mdl-cell--3-col">
          <div class="mdl-card mdl-shadow--4dp">

            <div class="mdl-card__supporting-text">
              @display_title(offer)
            </div>

            <div class="mdl-card__supporting-text">
              @display_responses(offer)
            </div>

            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/html/offers/@offer.getId()">
                View Offer
              </a>
            </div>

          </div>
        </div>
      }

    </div>
  }
}
