@(traderBid: TraderBid, handlerSeller: HandlerSeller, domain: String)

<!DOCTYPE html>
<html>
  <head>
    <style> 
     button {
        background-color: #47d147;
      }
      footer {
        margin: 30px;
      }
    </style>
  </head>

  <body>
    <p>
      Congratulations! <br>
      @handlerSeller.getCompanyName() has successfully accepted your bid!<br>
      This will serve as an official record of the transaction to be made:<br><br>
      "Insert Bid Info Here"
    </p>
  </body>
  <footer>
  </footer>
</html>