@(handlerBid: HandlerBid, grower: Grower, pounds: Long, domain: String)
@import models.Handler; var handler = grower.getHandler()

<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Transaction Receipt</h1>
    <p>
      Congratulations, @grower.getFirstName()!<br>
      You have successfully completed the following transaction using Agrity.
    </p>

    <hr>

    <h2>Details</h2>

    <p>
      @pounds lbs
      @handlerBid.getAlmondVariety()
      @handlerBid.getAlmondSize()
      @handlerBid.getPricePerPound()/lb
    </p>
      
    <p>
      Comment: @handlerBid.getComment()<br><br>
    </p>

    <hr>

    <b>This receipt serves as an official record of this completed transaction with @handler.getCompanyName().</b>
  </body>
  <footer>
    <p>
      For any questions or concerns, please contact @handler.getFullName()
      (@handler.getEmailAddressString() @handler.getPrettyPhoneNumberString())
      at @handler.getCompanyName().
    </p>
  </footer>
</html>