@(batch: Batch, handlerSeller: HandlerSeller, domain: String)
@import models.Trader; var trader = batch.getTrader()

<!DOCTYPE html>
<html>
  <head>
    <style> 
      footer {
        margin: 30px;
      }
    </style>
  </head>

  <body>
    <p>
      Hi @handlerSeller.getFirstName(),
    </p>
    <p>
      I've sent you new bids using Agrity. These bids expire at @batch.getTraderBids()[0].getExpirationTime(). Please
      @if(batch.getId() == null) {
        <a href="@domain/traderBids/@batch.getTraderBids.get(0).getId()/displayBid/@handlerSeller.getId()">
      } else {
        <a href="@domain/traderBids/batch/@batch.getId()/display/@handlerSeller.getId()">
      } 
      click here
      </a>
      to view your new bids. 
    </p>
    <p>
      Thanks, <br>
      @trader.getFullName() @trader.getCompanyName @trader.getPrettyPhoneNumberString() 
    </p>
  <body>
</html>