@(batch: Batch, handlerSeller: HandlerSeller, domain: String)
@import models.Trader; var trader = batch.getTrader()

<!DOCTYPE html>
<html>
  <head>
    <style> 
     button {
        background-color: #47d147;
      }
      footer {
        margin: 30px;
      }
    </style>
  </head>

  <body>
    <p>
      Hi @handlerSeller.getFullName(), <br><br>
      We at @trader.getCompanyName() have new bids for you!
      Click on the button below to check them out and accept them. Have
      a nice day! <br>
    </p>
    <div id="bidsButton">

      @if(batch.getId() == null) {
        <a href="@domain/traderBids/@batch.getTraderBids.get(0).getId()/displayBid/@handlerSeller.getId()">
      } else {
        <a href="@domain/traderBids/batch/@batch.getId()/display/@handlerSeller.getId()">
      } 
        <button> Go To Bids</button>
      </a>
    </div>
  <body>
  <footer>
    @trader.getFullName() <br>
    @trader.getCompanyName<br>
    @trader.getPhoneNumberString() <br><br>
  </footer>
</html>