@(handlerBid: HandlerBid, grower: Grower, pounds: Long, domain: String)

<!DOCTYPE html>
<html>
  <head>
    <style> 
     button {
        background-color: #47d147;
      }
      footer {
        margin: 30px;
      }
    </style>
  </head>

  <body>
    <p>
      Congratulations! <br>
      @grower.getFullName() has successfully accepted your bid!<br>
      This will serve as an official record of the transaction:<br><br>
      "Insert Bid Info Here"
    </p>
  </body>
  <footer>
  </footer>
</html>