@(traderBid: TraderBid, handlerSeller: HandlerSeller, pounds: Long, domain: String)
@import models.Trader; var trader = handlerSeller.getTrader()

<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Transaction Receipt</h1>
    <p>
      Congratulations, @handlerSeller.getFirstName()!<br>
      You have successfully completed the following transaction using Agrity.
    </p>

    <hr>

    <h2>Details</h2>

    <p>
      @pounds MT
      @traderBid.getAlmondVariety()
      @traderBid.getGrade()
      @traderBid.getAlmondSize()
      @traderBid.getPricePerPound()/lb
    </p>
      
    <p>
      Comment: @traderBid.getComment()<br><br>
    </p>

    <hr>

    <b>This receipt serves as an official record of this completed transaction with @trader.getCompanyName().</b>
  </body>
  <footer>
    <p>
      For any questions or concerns, please contact @trader.getFullName()
      (@trader.getEmailAddressString() @trader.getPrettyPhoneNumberString())
      at @trader.getCompanyName().
    </p>
  </footer>
</html>