@(traderBid: TraderBid, handlerSeller: HandlerSeller, pounds: Long, domain: String)
@import models.Trader; var trader = handlerSeller.getTrader()

<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Bid Transaction Confirmation</h1>
    <p>
      Congratulations, @handlerSeller.getFullName()!<br>
      You have successfully accepted a bid from @trader.getCompanyName()!
    </p>

    <hr>

    <h2>Details</h2>

    <table>
      <tr>
        <td style="float:right;">
          <font color="gray">Almonds Sold:</font>
        </td>
        <td style="padding-left:5%";>
          <b>@pounds MT</b>
        </td>
      </tr>
      <tr>
        <td style="float:right;">
          <font color="gray">Price:</font>
        </td>
        <td style="padding-left:5%";>
          <b>@traderBid.getPricePerPound()/lb</b>
        </td>
      </tr>
      <tr>
        <td style="float:right;">
          <font color="gray">Type:</font>
        </td>
        <td style="padding-left:5%;">
          <b>@traderBid.getAlmondVariety()</b>
        </td>
      </tr>
      <tr>
        <td style="float:right;">
          <font color="gray">Size:</font>
        </td>
        <td style="padding-left:5%;">
          <b>@traderBid.getAlmondSize()</b>
        </td>
      </tr>
    </table>
      
    <p>
      Comment: @traderBid.getComment()<br><br>
    </p>

    <hr>

    <b>This will serve as an official record of the transaction.</b>
  </body>
  <footer>
    <p>
      For any questions or concerns, please contact @trader.getFullName()
      at @trader.getEmailAddressString()
    </p>
  </footer>
</html>