@(handlerBid: HandlerBid, grower: Grower, pounds: Long, domain: String)
@import models.Handler; var handler = grower.getHandler()

<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Transaction Receipt</h1>
    <p>
      Congratulations, @handler.getFullName()!<br>
      @grower.getFullName() has accepted your bid!
    </p>

    <hr>

    <h2>Details</h2>

    <p>
      @pounds lbs
      @handlerBid.getAlmondVariety()
      @handlerBid.getAlmondSize()
      @handlerBid.getPricePerPound()/lb
    </p>
      
    <p>
      Comment: @handlerBid.getComment()<br><br>
    </p>

    <hr>

    <b>This receipt serves as an official record of this completed transaction with @grower.getFullName().</b>
  </body>
  <footer>
  </footer>
</html>